 
.profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 93vh;
  padding: 60px 20px;
  background-color: #0F1015;
}

.profile-card {
  background-color: #191A1F;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  padding: 40px;
  width: 100%;
  max-width: 500px;
  text-align: center;
}

.profile-card h1 {
  font-size: 28px;
  color: #fff;
  margin-bottom: 20px;
}
.profile-card p {
  color: #fff;
}

.profile-card label {
  font-size: 14px;
  color: #fff;
  margin: 10px 0 5px;
  display: block;
}

.profile-card input {
  padding: 12px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  margin-bottom: 20px;
  background-color: #202127;
  color: #fff;
  width: 100%;
  transition: background-color 0.3s ease;
}

.profile-card input:focus {
  background-color: #727272;
  outline: none;
}

.profile-card button {
  padding: 14px 30px;
  font-size: 18px;
  color: #fff;
  background-color: #4caf50;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.profile-card button:hover {
  background-color: rgb(50, 206, 71);
  transform: scale(1.05);
}

 
@media (max-width: 768px) {

  .profile-card {
      padding: 30px;
  }

  .services, .stats {
      flex-direction: column;
      align-items: center;
  }

  .service-box {
      width: 90%;
      margin: 10px 0;
  }

  .stat {
      width: 100%;
      margin: 10px 0;
  }
}

 
@media (max-width: 1024px) {
  .profile-container {
    padding: 40px 15px;  
  }

  .profile-card {
    padding: 30px;
    max-width: 400px;  
  }

  .profile-card h1 {
    font-size: 24px;  
  }

  .profile-card input {
    font-size: 14px;  
  }

  .profile-card button {
    padding: 12px 25px;  
    font-size: 16px;  
  }
}

@media (max-width: 768px) {
  .profile-container {
    padding: 30px 10px;  
  }

  .profile-card {
    padding: 20px;
    max-width: 90%;  
  }

  .profile-card h1 {
    font-size: 22px;  
  }

  .profile-card input {
    font-size: 14px;  
  }

  .profile-card button {
    padding: 10px 20px;  
    font-size: 14px;  
  }
}

@media (max-width: 480px) {
  .profile-container {
    padding: 20px 10px;  
  }

  .profile-card {
    padding: 15px;
    max-width: 100%; 
  }

  .profile-card h1 {
    font-size: 20px;  
  }

  .profile-card input {
    font-size: 12px; 
    padding: 10px; 
  }

  .profile-card button {
    padding: 8px 18px;  
    font-size: 12px;  
  }
}