<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock %}</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/login-signup.css') }}"
    />
  </head>
  <body>

    {% block content %}
    
    {% endblock %}

    <footer>
      
    </footer>
    <script src="{{ url_for('static', filename='js/signupValidation.js') }}"></script>
    <script src="{{ url_for('static', filename='js/signin.js') }}"></script>
  </body>
</html>
